.catalog {
    padding-top: 75px;
    overflow-x: hidden;
    h1 {
        margin-bottom: 75px;
    }
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    margin-bottom: 85px;
    min-width: 237px;
    text-align: center;
    a {
        text-decoration: none;
    }
    &:hover {
        .catalog-quick {
            opacity: 1;
        }
        .catalog-title {
            color: #fff;
            &::after {
                width: 100%;
                opacity: 1;
            }
        }
    }
}

.catalog-item__inner {
    display: inline-block;
    position: relative;
}

.catalog-media {
    width: 148px;
    height: 191px;
    margin-bottom: 15px;
    position: relative;
    display: block;
    z-index: -1;
    img {
        max-width: 274px;
        max-height: 307px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.catalog-title {
    display: inline-block;
    font-weight: 600;
    color: #dadada;
    line-height: 1;
    transition: all 0.5s ease;
    &::after {
        width: 0;
        height: 1px;
        opacity: 0;
        display: block;
        background-color: #fff;
        transition: all 0.5s ease;
        content: '';
    }
}

.catalog-view {
    padding-left: 36px;
    display: inline-block;
    color: #dadada;
    position: relative;
    transition: all 0.5s ease;
    @include font-size(18px);
    &::before {
        width: 24px;
        height: 1px;
        top: 13px;
        left: 0;
        position: absolute;
        background-color: #dadada;
        content: '';
        transition: all 0.5s ease;
    }
    &:hover {
        color: #fff;
        &::before {
            width: 100%;
            background-color: #fff;
        }
    }
}

.catalog-new {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #626262;
    background-color: #171717;
    color: #fff;
    line-height: 34px;
    text-transform: uppercase;
    top: 0;
    left: -3px;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease;
    @include font-size(13px);
}

.catalog-quick {
    position: absolute;
    top: 0;
    right: -35px;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.catalog-quick__wrap {
    width: 35px;
    height: 35px;
    margin: 0 auto 5px;
    border-radius: 100%;
    position: relative;
    background: #171717;
    border: 1px solid #626262;
    display: block;
    .quick {
        width: 15px;
        height: 15px;
        fill: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.catalog-quick-view {
    padding: 3px 10px;
    border-radius: 10px;
    line-height: 1;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    background-color: rgba(#000,.5);
    @include font-size(13px)
}
