.menu {
    width: 100%;
    margin-left: auto;
    color: #fff;
    line-height: 1;
    letter-spacing: 1.6px;
    font-weight: 300;
    display: flex;
    transition: all 0.3s ease;
}

.menu-item {
  margin-bottom: 50px;
  color: $colorDark;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  white-space: nowrap;
}

.menu-link {
    color: #fff;
    position: relative;
    &:hover {
      color: inherit;
        &::after {
            width: 100%;
        }
    }
}

.menu-catalog {
    cursor: pointer;
    .arrow-s {
        width: 12px;
        height: 12px;
        margin-left: 7px;
        top: -1px;
        position: relative;
        fill: $colorDark;
    }
}

.menu-point__active {
    color: $colorLight;
    .arrow-s {
        fill: $colorLight;
    }
  .decor-link::after {
    width: 100%;
  }
}
