.nav-area {
    width: 100%;
    padding-top: 25px;
    padding-right: 80px;
    line-height: 1;
    position: relative;
    z-index: $index-nav-area;
    .container {
        display: flex;
    }
}

.logo {
    transition: all 0.3s ease;
}
