.not-found .nav-area {
  display: none;
}

.not-found__wrapper {
  min-height: 100vh;
  padding-bottom: 150px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 30px;
  }
}

.not-found__logo {
  width: 437px;
  height: 107px;
}

.not-found__box {
  margin: auto;
  text-align: center;
}

.not-found__text {
  margin-bottom: 70px;
}
