.not-found {
    padding-top: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found-logo {
    max-width: 253px;
}

.not-found-wrap {
    margin: auto 0;
    text-align: center;
    position: relative;
}

.not-found-error {
    color: $colorGray;
    font-weight: 400;
    @include font-size(25px)
}

.not-found-title {
    margin-top: 20px;
    margin-bottom: 58px;
}

.not-found-text {
    font-weight: 400;
    @include font-size(25px)
}
