.section-flower__wrap {
  margin-top: auto;
  margin-bottom: auto;
}

.section-flower {
  max-width: 1161px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-flower__media {
  max-height: 66vh;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  align-self: center;
  flex: none;
  img {
    max-height: inherit;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  &:hover .section-flower__get {
    transform: translateY(0);
  }
}

.section-flower__text {
  color: #fff;
  line-height: 32px;
  font-family: "Comic Sans MS", 'ComicSansMS', akrobat, sans-serif;
  flex: 1;
  @include font-size(17px);
}

.section-flower__get {
  width: 100%;
  height: 65px;
  bottom: 0;
  left: 0;
  position: absolute;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease;
  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    opacity: 0.6;
    background: rgba(32, 32, 32, 0.40);
    box-shadow: inset 0 0 100px 25px #202020;
    content: '';
  }
  .text {
    margin: auto;
    color: #dadada;
    position: relative;
    z-index: 5;
    display:flex;
    align-items: center;
    &::before {
      width: 24px;
      height: 1px;
      margin-right: 10px;
      background-color: #dadada;
      content: '';
    }
  }
}
