@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
/*
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";*/
@import "common/common";

/*
.fixed {
    position: fixed;
}
*/

.nav-panel {
    width: 80px;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-color: #000;
}

.main-section {
    background: url(../img/bg/bg-home.jpg) no-repeat center top;
    background-size: cover;
}

.nav-area {
    width: 100%;
    padding-right: 80px;
    top: 60px;
    left: 0;
    z-index: 9;
    position: fixed;
}

.menu {
    color: #fff;
    line-height: 1;
    letter-spacing: 1.6px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    @include font-size(18px);
}

.menu-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    &::after {
        width: 0;
        height: 1px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        content: '';
        transition: all 0.3s ease;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}
