@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
/*@import "common/checkbox-radio";*/
@import "common/common";

.close-block {
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    .cancel {
        width: 14px;
        height: 14px;
        fill: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
    }
    &:hover {
        transform: scale(1.1);
    }
}

//*******************

.nav-panel {
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    z-index: $index-nav-panel;
    background-color: #000;
    text-align: center;
}

.nav-panel__instagram {
    width: 30px;
    height: 30px;
    margin: auto auto 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    .instagram {
        width: 24px;
        height: 24px;
        fill: #fff;
        top: 3px;
        left: 3px;
        position: absolute;
    }
    &:hover {
        transform: scale(1.1);
    }
}

.open-menu {
    display: inline-flex;
    &::before {
        width: 22px;
        height: 2px;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 7px 0 #fff, 0 -7px 0 #fff;
        transition: all .3s ease;
        content: '';
    }
    &:hover::before {
        transform: scale(1.1);
    }
}

.count-products {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    top: 18px;
    right: 5px;
    position: absolute;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    transition: all 0.3s ease;
    @include font-size(11px);
}

.open-menu,
.panel-basket,
.panel-wishlist {
    width: 35px;
    height: 35px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    svg {
        position: absolute;
        top: 5px;
        left: 6px;
        fill: #fff;
        transition: all 0.3s ease;
    }
    .cancel {
        width: 18px;
        height: 18px;
        top: 9px;
        left: 9px;
        opacity: 0;
    }
    &:hover svg {
        transform: scale(1.1);
    }
}

.panel-wishlist {
    .hearth {
        width: 25px;
        height: 26px;
    }
}

.panel-basket .bag {
    width: 23px;
    height: 24px;
}

//*******************

.fp-tableCell {
    padding-top: 100px;
    position: relative;
}

.main-section__next {
    bottom: 12px;
    left: 50%;
    position: absolute;
    z-index: 35;
    transform: translateX(-50%);
    .arrow-w {
        width: 34px;
        height: 34px;
        fill: #fff;
        stroke: #fff;
    }
}

.main-section {
    position: relative;
    background: url(../img/bg/bg-home.jpg) no-repeat center top;
    background-size: cover;
}

.copyright {
    width: 100%;
    bottom: 25px;
    left: 0;
    position: absolute;
    color: #5A5A5A;
    font-family: "Comic Sans MS", 'akrobat', sans-serif;
}

//*******************

.nav-area {
    width: 100%;
    padding-top: 30px;
    padding-right: 80px;
    line-height: 1;
    position: relative;
    z-index: $index-nav-area;
    .container {
        display: flex;
    }
}

.logo {
    transition: all 0.3s ease;
}

.menu {
    width: 100%;
  padding-top: 30px;
    margin-left: auto;
    color: #fff;
    line-height: 1;
    letter-spacing: 1.6px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    &::after {
        width: 0;
        height: 1px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        content: '';
        transition: all 0.3s ease;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.home .logo {
    width: 0;
    opacity: 0;
}

.fp-viewing-0 .logo {
    width: 0;
    height: 0;
    margin-right: 0;
    opacity: 0;
    flex: 0;
}
.home:not(.fp-viewing-0), .page {
  .logo {
    max-width: 2882px;
    height: 69px;
    margin-right: 275px;
    opacity: 1;
    flex: 0 0 303px;
  }
}

.page .nav-area {
  margin-bottom: 130px;
}

.home:not(.fp-viewing-0) {
    .nav-area {
        top: 27px;
    }
    .menu {
        margin-bottom: -10px;
    }
}

.home .nav-area {
    padding-top: 0;
    top: 60px;
    left: 0;
    position: fixed;
}

//*******************

.nav-window {
    width: 100%;
    height: 100%;
    max-width: 770px;
    padding-top: 43px;
    padding-right: 80px;
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: $index-nav-window;
    background: #070707 url(../img/bg/bg-nav-window.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 3px 2px 30px rgba(#000, .60);
    transform: translateX(100%);
    transition: transform 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    will-change: transform;
}

.nav-window__title {
    margin-bottom: 3%;
    line-height: 1;
    text-align: center;
}

.nav-products__wrap {
    padding-right: 70px;
    position: relative;
}

.nav-products {
    width: 400px;
    max-height: 600px;
}

.nav-products__slide {
    height: 300px;
    padding-left: 70px;
    text-align: left;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include font-size(18px)
}

.nav-products__media {
    width: 154px;
    height: 191px;
    margin-right: 25px;
    position: relative;
    img {
        max-width: 270px;
        margin-top: 9px;
        margin-left: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }
}

.nav-products__info {
    @include font-size(18px);
}

.nav-products__title {
    margin-bottom: 5px;
    font-weight: bold;
}

.nav-products__cost {
    margin-bottom: 18px;
    font-weight: bold;
    @include font-size(22px);
}

.nav-products__link {
    color: #DADADA;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    &::after {
        width: 100%;
        height: 1px;
        margin: 0 auto;
        background-color: #DADADA;
        display: block;
        content: '';
        transition: all 0.3s ease;
    }
    &:hover {
        color: #fff;
        &::after {
            width: 0;
            background-color: #fff;
        }
    }
}

.nav-window__bottom {
    margin-top: auto;
    margin-bottom: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-window__total {
    margin-right: 70px;
    color: #fff;
    @include font-size(22px);
}

.nav-window__total-cost {
    margin-left: 10px;
    display: inline-block;
}

.close-product {
    right: 0;
    top: 102px;
}

.swiper-wrapper .nav-products__slide {
    &:nth-of-type(odd) {
        transform: translateY(25px);
    }
    &:nth-of-type(even) {
        transform: translateY(-25px);
    }
}

.nav-products-prev, .nav-products-next {
    width: 25px;
    height: 30px;
    overflow: hidden;
    top: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 15;
    transition: all 0.3s ease;
    .arrow-lr {
        width: 20px;
        height: 21px;
        fill: #fff;
        top: 4px;
        left: 3px;
        position: absolute;
        transition: all 0.3s ease;
    }
    &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.nav-products-prev {
    left: 55px;
    transform: rotate(180deg);
    &:hover .arrow-lr {
        transform: translateX(5px);
    }
}

.nav-products-next {
    right: 55px;
    &:hover .arrow-lr {
        transform: translateX(5px);
    }
}

.nav-products__options {
    color: #DADADA;
    @include font-size(18px);
}

.nav-products__size {
    margin-bottom: 7px;
}

.products-color {
    display: flex;
    align-items: center;
}

.box-color {
    width: 21px;
    height: 21px;
    margin-left: 11px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
}

.color-black {
    background-color: #000;
}

.color-white {
    background-color: #fff;
}

.color-turquoise {
    background-color: #7DFAFF;
}

.color-pink {
    background-color: #FEC0FF;
}

.color-light-green {
    background-color: #CEEC8C;
}

//**********************

.my-wishlist__opened {
    .my-wishlist {
        transform: translateX(0);
    }
    .panel-wishlist {
        .cancel {
            opacity: 1;
        }
        .hearth, .count-products {
            opacity: 0;
        }
    }
}

.my-bag__opened {
    .my-bag {
        transform: translateX(0);
    }
    .panel-basket {
        .cancel {
            opacity: 1;
        }
        .bag, .count-products {
            opacity: 0;
        }
    }
}

.page-menu__opened {
    .page-menu {
        transform: translateX(0);
    }
    .open-menu {
        .cancel {
            opacity: 1;
        }
        &::before {
            opacity: 0;
        }
    }
}

//***********************

.page-menu {
    padding-top: 165px;
    text-align: center;
}

.page-menu__list {
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-menu__point {
    &::after {
        width: 0;
        height: 1px;
        margin: -5px auto 0;
        background-color: #fff;
        display: block;
        content: '';
        transition: all 0.3s ease;
    }
    &:hover::after {
        width: 100%;
    }
}

.page-menu__link {
    padding: 0 10px 10px;
    color: #fff;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.page-menu__active::after {
    width: 100%;
}

//*************************

.section-flower__wrap {
    margin-top: auto;
    margin-bottom: auto;
}

.section-flower {
    max-width: 1161px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section-flower__media {
    max-height: 66vh;
    height: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

.section-flower__text {
    color: #fff;
    line-height: 32px;
    font-family: "Comic Sans MS", akrobat, sans-serif;
    @include font-size(17px);
}

//**************************

.catalog {
    padding-top: 75px;
    h1 {
        margin-bottom: 75px;
    }
}

.catalog-list {
    margin: 0 -35px;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    margin-bottom: 85px;
    min-width: 237px;
    text-align: center;
    @include font-size(18px);
    a {
        display: inline-block;
        text-decoration: none;
        &:hover {
            .catalog-new {
                background-color: #fff;
                color: #202020;
            }
            .catalog-view {
                color: #fff;
                &::before {
                    width: 100%;
                    background-color: #fff;
                }
            }
        }
    }
}

.catalog-media {
    width: 148px;
    height: 191px;
    margin-bottom: 15px;
    position: relative;
    display: block;
    z-index: -1;
    img {
        max-width: 274px;
        max-height: 307px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.catalog-title {
    display: block;
    font-weight: 600;
    color: #fff;
}

.catalog-view {
    padding-left: 36px;
    display: inline-block;
    color: #D9D9D9;
    position: relative;
    transition: all 0.3s ease;
    &::before {
        width: 24px;
        height: 1px;
        top: 13px;
        left: 0;
        position: absolute;
        background-color: #D9D9D9;
        content: '';
        transition: all 0.3s ease;
    }
}

.catalog-new {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #626262;
    background-color: #171717;
    color: #fff;
    line-height: 34px;
    text-transform: uppercase;
    top: 0;
    left: -3px;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease;
    @include font-size(13px);
}

//*******************************

.not-found {
    padding-bottom: 150px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav-area {
        display: none;
    }
    h1 {
        margin-bottom: 30px;
    }
}

.not-found__logo {
    width: 437px;
    height: 107px;
}

.not-found__box {
    margin: auto;
    text-align: center;
}

.not-found__text {
    margin-bottom: 70px;
    @include font-size(18px);
}

//*********************************

.half-block {
    margin-top: -105px;
    min-height: 100vh;
    display: flex;
    @include font-size(18px);
    h1 {
        margin-bottom: 80px;
    }
}

.half-block__left {
    margin-right: 100px;
    flex: 0 0 810px;
    position: relative;
    &::after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#000, .3);
        position: absolute;
        content: '';
    }
    &::before {
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        
        background: url(../img/about-us.png) no-repeat right bottom;
        position: absolute;
        content: '';
    }
}

.half-block__right {
    padding-right: 161px;
    padding-top: 175px;
    color: #fff;
    text-align: justify;
}

//******************************

.contacts {
    color: #fff;
}

.contacts-wrap {
  display: flex;
}

.contacts-form {
    padding-top: 19px;
    width: 100%;
    max-width: 600px;
}

.contacts-form__title {
    margin-bottom: 40px;
    color: #fff;
    font-weight: 600;
    @include font-size(32px)
}

.contacts-form__block {
    padding: 50px 50px;
    background-color: rgba(#000,.3);
    text-align: right;
    .ui-group {
        text-align: left;
    }
}

.contacts-info {
    padding-left: 110px;
    flex: 1;
}

.contacts-info__title {
   margin-bottom: 85px;
}
.contacts-info__list {
    line-height: 1;
    display: flex;
    flex-wrap: wrap;
    @include font-size(22px);
    li:not(:last-child){
        margin-right: 145px;
    }
    div {
        margin-bottom: 11px;
        color: #DADADA;
        font-weight: 300;
        @include font-size(18px);
    }
    a {
        color: inherit;
        font-weight: 400;
        text-decoration: none;
    }
}

.contacts-info__follow {
    font-weight: 400;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    @include font-size(18px);
}
.contacts-social {
    display: flex;
    li:not(:last-child) {
        margin-right: 21px;
    }
    a {
        width: 24px;
        height: 24px;
        border-radius: 2px;
        background-color: #fff;
        position: relative;
        display: block;
        transition: all 0.5s ease;
        &:hover {
            background-color: transparent;
            svg {
                fill: #fff;
            }
        }
    }
    svg {
        fill: #000;
        left: 4px;
        position: absolute;
        transition: all 0.3s ease;
    }
    .fb {
        width: 23px;
        height: 23px;
        top: 3px;

    }
    .instagram {
        width: 16px;
        height: 17px;
        top: 4px;
    }
}

.contacts-info__follow-text {
    margin-right: 35px;
}

//********************

.flying-message {
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  color: #202020;
  border-bottom: 5px solid;
  position: fixed;
  z-index: 55;
  box-shadow: 0 0 8px 0 rgba(#000, .1);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  .container {
    min-height: 83px;
    display: flex;
    align-items: center;
  }
}

.flying-message__text {
  padding-left: 56px;
  font-weight: 400;
  position: relative;
  @include font-size(18px);
}

.message-successfully, .message-wrong {
  transform: translateY(0);
}

.message-successfully {
  border-bottom-color: #202020;
  .flying-message__text {
    &::before, &::after {
      top: 50%;
      position: absolute;
      content: '';
    }
    &::before {
      height: 24px;
      width: 24px;
      border-radius: 100%;
      background-color: #202020;
      left: 0;
      transform: translateY(-50%);
    }
    &::after {
      width: 13px;
      height: 7px;
      margin-top: -5px;
      left: 5px;
      border-bottom: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
      transform: rotate(-43deg);
    }
  }
}

.message-wrong {
  border-color: #FE5E5E;
  .warning {
    width: 25px;
    height: 25px;
    left: 0;
    top: 50%;
    position: absolute;
    fill: #202020;
    transform: translateY(-50%);
  }
}

.flying-message-close{
  margin-left: auto;
  color: inherit;
  line-height: 1;
}