<!doctype html>
<html lang="en">
@@include('template/head.html')
<body class="page">

@@include('template/fixed-block.html')

<div class="item-page">
    <div class="item-page__wrap container">
        <div class="item-page__left">
            test
        </div>
        <div class="item-page__right out-stock">
            <h2>Blue Eustoma in Round Flower Box</h2>

            <div>Show your love with a premium box filled with fully-bloomed, mesmeric roses.</div>

            <div class="item-page__price">Price: <span class="item-page__price-num">$459.00</span></div>

            <h3>This Gift Box includes:</h3>

            <ul class="list-line">
                <li>16 stems of Roses</li>
                <li>Gift Flowers Hong Kong Black Round Gift Box</li>
                <li>Complimentary Message Card</li>
                <li>Free Delivery to Hong Kong Metropolitan Areas</li>
            </ul>

            <div id="product">
                <div class="product-select form-group required has-error">
                    <select class="form-control">
                        <option value="">Choose Box Size</option>
                        <option value="Small">Small: 12H x 10 cm</option>
                        <option value="Standard">Standard: 16H x 13W cm</option>
                        <option value="Large">Large: 20H x 23W cm</option>
                    </select>
                    <div class="text-danger">Please, Choose Box Size</div>
                </div>


                <div class="product-box-color form-group required has-error">
                    <label class="control-label">Box Color</label>

                    <div id="input-option342">
                        <div class="radio color-white">
                            <label>
                                <input type="radio" name="option[342]" value="183">
                                <span></span>
                                White </label>
                        </div>
                        <div class="radio color-black">
                            <label>
                                <input type="radio" name="option[342]" value="184">
                                <span></span>
                                Black </label>
                        </div>
                        <div class="radio color-turquoise">
                            <label>
                                <input type="radio" name="option[342]" value="185">
                                <span></span>
                                Turquoise </label>
                        </div>
                        <div class="radio color-pink">
                            <label>
                                <input type="radio" name="option[342]" value="185">
                                <span></span>
                                Pink </label>
                        </div>
                        <div class="radio color-light-green">
                            <label>
                                <input type="radio" name="option[342]" value="185">
                                <span></span>
                                Light green </label>
                        </div>
                    </div>

                    <div class="text-danger">Select the color</div>
                </div>

                <hr>

                <div class="products-bottom form-group">
                    <button class="number-products__minus" disabled>-</button>
                    <input type="text" name="quantity" value="1" size="1" id="input-quantity" class="form-control">
                    <span class="number-products__plus">+</span>

                    <input type="hidden" name="product_id" value="53">

                    <button type="button" class="btn btn-white make-an-order"><span>Make an Order</span></button>
                </div>


                <div class="order-form">
                    <h2 class="order-form__title">1x Blue Eustoma in Round Flower Box</h2>

                    <div class="order-form__info">
                        <div class="products-color">
                            Box size: Small
                        </div>

                        <div class="products-color">
                            Color: Black
                            <span class="box-color color-black"></span>
                        </div>
                    </div>

                    <form action="#" class="order-form__form">
                        <div class="order-form__wrap">
                            <div class="ui-group">
                                <input type="text" class="ui-field" id="input1">
                                <label class="ui-label" for="input1">Full Name</label>
                            </div>

                            <div class="ui-group">
                                <input type="tel" class="ui-field" id="input2">
                                <label class="ui-label" for="input2">Phone</label>
                            </div>

                            <div class="ui-group">
                                <input type="email" class="ui-field" id="input3">
                                <label class="ui-label" for="input3">Email</label>
                            </div>
                        </div>

                        <button class="btn-white btn">Send Request</button>
                    </form>

                    <div class="close-block order-form__close">
                        <svg class="cancel">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@@include('template/scripts.html')

</body>
</html>
