<footer>
    <div class="footer-wrap container-fluid">
        <div class="footer-copyright">
            <div class="footer-copyright-logo">
                <a href="index.html"><img src="img/logo-white.png" srcset="img/logo-white@2x.png 2x" alt="Mallini couture"></a>
            </div>
            <div class="footer-copyright-copy">© 2017 Mallini Fashion Dresses. All right Reserved.</div>
        </div>

        <div class="footer-menu">
            <ul class="footer-menu-list list-unstyled">
                <li class="footer-menu-item"><a href="#" class="footer-link">Popular Items</a></li>
                <li class="footer-menu-item"><a href="#" class="footer-link">Latest Items</a></li>
                <li class="footer-menu-item"><a href="sales.html" class="footer-link">Sales</a></li>
                <li class="footer-menu-item"><a href="news.html" class="footer-link">News</a></li>
            </ul>
            <ul class="footer-menu-list list-unstyled">
                <li class="footer-menu-item"><span class="footer-link header-basket">My Bag</span></li>
                <li class="footer-menu-item"><span class="footer-link header-wishlist">Wish List</span></li>
                <li class="footer-menu-item"><a href="#" class="footer-link">Pay & Deliver</a></li>
                <li class="footer-menu-item"><a href="contacts.html" class="footer-link">Contacts</a></li>
            </ul>
        </div>

        <div class="footer-contacts">
            <h6 class="footer-contacts-title">Contact US</h6>

            <ul class="list-unstyled">
                <li class="footer-contacts-item">
                    <a href="tel:+79251127345" class="footer-link" rel="nofollow">+7 (925) 112-73-45</a>
                </li>
                <li class="footer-contacts-item">
                    <a href="mailto:info@mallini.shop" class="footer-link" rel="nofollow">‎info@mallini.shop</a>
                </li>
                <li class="footer-contacts-item">Moscow, Markitskaja str. 38 TC “Crystal”</li>
            </ul>
        </div>
    </div>
</footer>
