<div class="header-modal header-modal-bag">
    <div class="header-modal-inner">
        <div class="header-modal-cancel header-modal-bag-close">
            <svg class="cancel">
                <use xlink:href="img/sprite.svg#cancel"></use>
            </svg>
        </div>

        <!-- Bag Open -->
        <h2 class="header-modal-title">My Cart</h2>

        <div class="header-product-content">
            <div class="product-content-prev product-content-disable">
                <svg class="arrow-s">
                    <use xlink:href="img/sprite.svg#arrow-s"></use>
                </svg>
            </div>

            <ul class="header-product-list">
                <li class="header-product-item">
                    <div class="header-product-media">
                        <a href="#"><img src="img/example/img-03.png" srcset="img/example/img-03@2x.png 2x" alt=""></a>
                    </div>
                    <div class="header-product-info">
                        <a href="#" class="header-product-title">Chiffon Cocktail Dress With Ruffle Appliques Lace</a>
                        <div class="header-product-price">
                            <div class="wishlist-active">
                                <svg class="hearth icon-wishlist">
                                    <use xlink:href="img/sprite.svg#hearth"></use>
                                </svg>
                                <svg class="hearth-full icon-wishlist">
                                    <use xlink:href="img/sprite.svg#hearth-full"></use>
                                </svg>
                            </div>
                            <span class="header-product-price-cost">$599</span>
                            <del class="header-product-price-old">$719</del>
                        </div>
                    </div>

                    <div class="header-product-close">
                        <svg class="cancel">
                            <use xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>
                </li>
                <li class="header-product-item">
                    <div class="header-product-media">
                        <a href="#"><img src="img/example/img-04.png" srcset="img/example/img-04@2x.png 2x" alt=""></a>
                    </div>
                    <div class="header-product-info">
                        <a href="#" class="header-product-title">Backless Mini Slip Dress - Black</a>
                        <div class="header-product-price">
                            <div class="wishlist-active">
                                <svg class="hearth icon-wishlist">
                                    <use xlink:href="img/sprite.svg#hearth"></use>
                                </svg>
                                <svg class="hearth-full icon-wishlist">
                                    <use xlink:href="img/sprite.svg#hearth-full"></use>
                                </svg>
                            </div>
                            <span class="header-product-price-cost">$675</span>
                        </div>
                    </div>

                    <div class="header-product-close">
                        <svg class="cancel">
                            <use xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>
                </li>
                <li class="header-product-item">
                    <div class="header-product-media">
                        <a href="#"><img src="img/example/img-05.png" srcset="img/example/img-05@2x.png 2x" alt=""></a>
                    </div>
                    <div class="header-product-info">
                        <a href="#" class="header-product-title">Stealing Kisses Mauve Lace Maxi Dress</a>
                        <div class="header-product-price">
                            <div class="wishlist-active">
                                <svg class="hearth icon-wishlist">
                                    <use xlink:href="img/sprite.svg#hearth"></use>
                                </svg>
                                <svg class="hearth-full icon-wishlist">
                                    <use xlink:href="img/sprite.svg#hearth-full"></use>
                                </svg>
                            </div>
                            <span class="header-product-price-cost">$549</span>
                        </div>
                    </div>

                    <div class="header-product-close">
                        <svg class="cancel">
                            <use xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>
                </li>
            </ul>

            <div class="product-content-next">
                <svg class="arrow-s">
                    <use xlink:href="img/sprite.svg#arrow-s"></use>
                </svg>
            </div>
        </div>

        <div class="header-modal-bottom">
            <div class="header-modal-total">Total: $1,823</div>
            <a href="#" class="btn btn-black">Checkout</a>
        </div>

        <!-- END Bag Open -->


        <!-- Bag Empty -->
        <!--
                    <h2 class="header-modal-title">My Bag</h2>

                    <div class="header-modal-cancel header-modal-bag-close">
                        <svg class="cancel">
                            <use xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>

                    <div class="modal-basket-empty">
                        <div class="modal-basket-empty__text">You have not items in your bag yet.</div>
                        <button class="btn btn-black">Go shopping</button>
                    </div>
        -->
        <!-- END Bag Empty -->
    </div>
</div>

<div class="header-modal header-modal-wishlist">
    <div class="header-modal-inner">
        <div class="header-modal-cancel header-modal-wishlist-close">
            <svg class="cancel">
                <use xlink:href="img/sprite.svg#cancel"></use>
            </svg>
        </div>

        <!-- Wishlist Open -->
        <h2 class="header-modal-title">My Wishlist</h2>

        <div class="header-product-content">
            <div class="product-content-prev product-content-disable">
                <svg class="arrow-s">
                    <use xlink:href="img/sprite.svg#arrow-s"></use>
                </svg>
            </div>

            <ul class="header-product-list">
                <li class="header-product-item">
                    <div class="header-product-media">
                        <a href="#"><img src="img/example/img-03.png" srcset="img/example/img-03@2x.png 2x" alt=""></a>
                    </div>
                    <div class="header-product-info">
                        <a href="#" class="header-product-title">Chiffon Cocktail Dress With Ruffle Appliques Lace</a>
                        <div class="header-product-price">
                            <span class="header-product-price-cost">$599</span>
                            <del class="header-product-price-old">$719</del>
                            <div class="header-product-add">
                                <span class="header-product-add-text">Add to</span>
                                <svg class="basket">
                                    <use xlink:href="img/sprite.svg#basket"></use>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="header-product-close">
                        <svg class="cancel">
                            <use xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>
                </li>
                <li class="header-product-item">
                    <div class="header-product-media">
                        <a href="#"><img src="img/example/img-04.png" srcset="img/example/img-04@2x.png 2x" alt=""></a>
                    </div>
                    <div class="header-product-info">
                        <a href="#" class="header-product-title">Backless Mini Slip Dress - Black</a>
                        <div class="header-product-price">
                            <span class="header-product-price-cost">$675</span>
                            <div class="header-product-add">
                                <span class="header-product-add-text">Add to</span>
                                <svg class="basket">
                                    <use xlink:href="img/sprite.svg#basket"></use>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="header-product-close">
                        <svg class="cancel">
                            <use xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>
                </li>
                <li class="header-product-item">
                    <div class="header-product-media">
                        <a href="#"><img src="img/example/img-05.png" srcset="img/example/img-05@2x.png 2x" alt=""></a>
                    </div>
                    <div class="header-product-info">
                        <a href="#" class="header-product-title">Stealing Kisses Mauve Lace Maxi Dress</a>
                        <div class="header-product-price">
                            <span class="header-product-price-cost">$549</span>
                            <div class="header-product-add">
                                <span class="header-product-add-text">Add to</span>
                                <svg class="basket">
                                    <use xlink:href="img/sprite.svg#basket"></use>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="header-product-close">
                        <svg class="cancel">
                            <use xlink:href="img/sprite.svg#cancel"></use>
                        </svg>
                    </div>
                </li>
            </ul>

            <div class="product-content-next">
                <svg class="arrow-s">
                    <use xlink:href="img/sprite.svg#arrow-s"></use>
                </svg>
            </div>
        </div>

        <div class="header-modal-bottom">
            <a href="#" class="btn btn-black">Add to bag</a>
        </div>
        <!-- END Bag Open -->

        <!-- Wishlist Empty -->
        <!--
                <h2 class="header-modal-title">My Wishlist</h2>

                <div class="modal-basket-empty">
                    <div class="modal-basket-empty__text">You have not items in your wishlist yet.</div>
                    <button class="btn btn-black">Go shopping</button>
                </div>
        -->
        <!-- END Wishlist Empty -->
    </div>
</div>

<div class="header-catalog container-fluid">
    <div class="catalog-panel">
        <a href="#"><img src="img/logo-black.png" srcset="img/logo-black@2x.png 2x" alt=""></a>
        <a href="catalog.html" class="catalog-panel-all">
            <span class="catalog-panel-text">All</span>
            <span class="catalog-panel-arrow arrow-right"></span>
        </a>

        <div class="header-catalog-close">
            <svg class="cancel">
                <use xlink:href="img/sprite.svg#cancel"></use>
            </svg>
        </div>
    </div>

    <ul class="view-catalog">
        <li class="view-catalog-item">
            <a href="#">
                    <span class="view-catalog-media">
                        <img src="img/example/img-06.png" srcset="img/example/img-06@2x.png 2x" alt="">
                    </span>
                <span class="view-catalog-title">
                        <span class="view-catalog-text">Casual Clothes</span>
                        <span class="view-catalog-arrow arrow-right"></span>
                    </span>
            </a>
        </li>
        <li class="view-catalog-item">
            <a href="#">
                    <span class="view-catalog-media">
                        <img src="img/example/img-07.png" srcset="img/example/img-07@2x.png 2x" alt="">
                    </span>
                <span class="view-catalog-title">
                        <span class="view-catalog-text">Evening Dresses</span>
                        <span class="view-catalog-arrow arrow-right"></span>
                    </span>
            </a>
        </li>
        <li class="view-catalog-item">
            <a href="#">
                    <span class="view-catalog-media">
                        <img src="img/example/img-08.png" srcset="img/example/img-08@2x.png 2x" alt="">
                    </span>
                <span class="view-catalog-title">
                        <span class="view-catalog-text">Wedding Dresses</span>
                        <span class="view-catalog-arrow arrow-right"></span>
                    </span>
            </a>
        </li>
        <li class="view-catalog-item">
            <a href="#">
                    <span class="view-catalog-media">
                        <img src="img/example/img-09.png" srcset="img/example/img-09@2x.png 2x" alt="">
                    </span>
                <span class="view-catalog-title">
                        <span class="view-catalog-text">Overdress</span>
                        <span class="view-catalog-arrow arrow-right"></span>
                    </span>
            </a>
        </li>
    </ul>
</div>

<div class="header-search container-fluid">
    <div class="header-search-logo"><a href="#"><img src="img/logo-black.png" srcset="img/logo-black@2x.png 2x" alt="Mallini"></a></div>

    <form action="#" class="header-search-area">
        <input type="search" class="header-search-field ui-placeholder" placeholder="Search...">
        <button class="header-search-btn">
            <svg class="search">
                <use xlink:href="img/sprite.svg#search"></use>
            </svg>
        </button>
    </form>

    <div class="header-cancel">
        <svg class="cancel">
            <use xlink:href="img/sprite.svg#cancel"></use>
        </svg>
    </div>
</div>