@import "../common/variables";

.label-block {
    cursor: pointer;
    position: relative;
    color: #5A5A5A;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
    @include font-size(18px);
}

.radio-custom {
    display: none;
    &:checked + .radio-custom-decor {
        border-color: #303030;
        &::after {
            border-color: #303030;
        }
    }
}

.radio-custom-decor {
  width: 22px;
  height: 22px;
  margin-right: 20px;
  background-color: #ffffff;
  line-height: 1;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 0;
  border: 1px solid #465a63;
  transition: all 0.3s ease;
  content: '';
  &:after {
    width: 19px;
    height: 8px;
    top: 1px;
    left: 4px;
    position: absolute;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    transform: rotate(-43deg);
    transition: all 0.3s ease;
    content: '';
  }
}

.radio-custom-view {
  a, span {
    padding-left: 5px;
  }
}

/*
<label class="label-block">
    <input type="radio" name="" class="radio-custom">
    <span class="radio-custom-view label">Самовывоз</span>
</label>

<label class="label-block">
    <input type="checkbox" name="" class="checkbox-custom">
    <span class="checkbox-custom-view label">Fabfoxx</span>
</label>
*/

.checkbox-custom {
    display: none;
    &:checked + .checkbox-custom-view {
        color: #111;
        &::before {
            border-color: #E6DDEE;
        }
    }
    &-view {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        &::before {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-color: #ffffff;
            content: '';
            border-radius: 4px;
            border: 1px solid #e3e3e3;
            transition: all 0.3s ease;
        }
        a, span {
            padding-left: 5px;
        }
    }
}
