@import "../common/variables";

.label-block {
    padding-left: 42px;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.radio-custom {
    display: none;
    &:checked + .radio-custom-decor {
        border-color: #fff;
        &::after {
            border-color: #fff;
        }
    }
}

.radio-custom-decor {
    width: 24px;
    height: 24px;
    line-height: 1;
    border-radius: 100%;
    position: absolute;
    top: 1px;
    left: 0;
    border: 2px solid #dadada;
    &:after {
        width: 12px;
        height: 7px;
        top: 5px;
        left: 4px;
        position: absolute;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        transform: rotate(-43deg);
        transition: all 0.3s ease;
        content: '';
    }
}

.radio-custom-view span {
    display: block;
    color: #C1C1C1;
    @include font-size(18px);
}

/*
<label class="label-block">
    <input type="radio" name="" class="radio-custom">
    <span class="radio-custom-view label">Самовывоз</span>
</label>

<label class="label-block">
    <input type="checkbox" name="" class="checkbox-custom">
    <span class="checkbox-custom-view label">Fabfoxx</span>
</label>
*/

.checkbox-custom {
    display: none;
    &:checked + .checkbox-custom-view {
        &::before {
            border-color: #E6DDEE;
        }
    }
    &-view {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        &::before {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-color: #ffffff;
            content: '';
            border-radius: 4px;
            border: 1px solid #e3e3e3;
            transition: all 0.3s ease;
        }
        a, span {
            padding-left: 5px;
        }
    }
}
