@font-face {
    font-family: 'akrobat';
    src: url('../fonts/akrobat-regular.woff2') format('woff2'),
    url('../fonts/akrobat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'akrobat';
    src: url('../fonts/akrobat-semibold.woff2') format('woff2'),
    url('../fonts/akrobat-semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'akrobat';
    src: url('../fonts/akrobat-light.woff2') format('woff2'),
    url('../fonts/akrobat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ComicSansMS';
    src: url('ComicSansMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
